@model GenerateAdmin

@{
    string generateQrButtonText = "Generati QR";
}

@if (Context.User.IsInRole("User"))
{
    <div>
        Apasati butonul de mai jos pentru a genera un qr code asociat profilului dumneavoastra<br />
        Cu ajutorul acestuia puteti sa va accesa contul cu usurinta!
    </div>

    @(Html.DevExtreme().Button()
    .ID("GenerateQrUser")
    .Text(generateQrButtonText)
    .OnClick(@<text>
        function downloadQr(e){
            window.location = "@Url.Action("DownloadQr" , "Qrcode")";
        }
        </text>)
    )
}
else if (Context.User.IsInRole("Admin"))
{
    <form method="post" enctype="multipart/form-data" asp-controller="Document" asp-action="ListForQr">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                @(Html.DevExtreme().SelectBox().Name("LastName").DataSource(Model.ApplicationUsers.Select(au => au.LastName)).Placeholder("Alegeti nume").ShowClearButton(true))
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="DadNameInitial" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                @(Html.DevExtreme().SelectBox().Name("DadInitial").DataSource(Model.ApplicationUsers.Select(au => au.DadFirstNameInitial)).Placeholder("Initiala tatalui").ShowClearButton(true))
                <span asp-validation-for="DadNameInitial" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                @(Html.DevExtreme().SelectBox().Name("FirstName").DataSource(Model.ApplicationUsers.Select(au => au.FirstName)).Placeholder("Alegeti prenume").ShowClearButton(true))
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Group" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                @(Html.DevExtreme().SelectBox().Name("Group").DataSource(Model.Groups.Select(gr => gr.GroupName)).Placeholder("Alegeti grupa").ShowClearButton(true))
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            @(Html.DevExtreme().Button()
            .ID("button")
            .Text("Accesati documentele")
            .Type(ButtonType.Success)
            .UseSubmitBehavior(true)
            )
        </div>
    </form>

}
