@page
@model LoginModel

@{
    ViewData["Title"] = "Autentificare";
    string forgotYourPwd = "Mi-am uitat parola";
    string register = "Nu ai cont? Înregistrare";
    string loginText = "Autentificare AzureDocs";
    string passwordLabel = "Parolă";
}

<h3 class="login-text">@loginText</h3>
<div class="login-row">
    <div class="col-md-3 login-container">
        <div class="form-group">
            <img class="login-illustration" src="~/loginIllustration.svg" />
        </div>
        <section>
            <form id="account" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>


                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">@passwordLabel</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group" style="margin-bottom:20px">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">@forgotYourPwd</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@register</a>
                    </p>
                    @*<p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>*@
                </div>

            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
