<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>

    <!--Fontawesome icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="~/styles/navbar.css" />

    <!--Devextreme-->
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />
    
    <!--The site's stylesheet-->
    <link rel="stylesheet" href="~/site.css"/>

    <script src="~/js/devextreme/jquery.js"></script>

    <script src="~/js/devextreme/dx.all.js"></script>

    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Navbar")
    }

    <div>
        @RenderBody()
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        @Html.Partial("_Footer")
    }

    @RenderSection("Scripts", required: false)
</body>
</html>
