@model UploadViewModel


<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="SendFiles">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Group" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            @(Html.DevExtreme().SelectBox().Name("Group").DataSource(Model.Groups.Select(gr => gr.GroupName)).Placeholder("Alegeti grupa").ShowClearButton(true))
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            @(Html.DevExtreme().SelectBox().Name("FirstName").DataSource(Model.ApplicationUsers.Select(au => au.FirstName)).Placeholder("Alegeti prenume").ShowClearButton(true))
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            @(Html.DevExtreme().SelectBox().Name("LastName").DataSource(Model.ApplicationUsers.Select(au => au.LastName)).Placeholder("Alegeti nume").ShowClearButton(true))
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">

        @(Html.DevExtreme().FileUploader()
        .ID("file-uploader")
        .Name("File")
        .Accept("application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, .doc, .docx" +
            ",application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, .xls, .xlsx," +
            ",application/vnd.ms-powerpoint, application/vnd.openxmlformats-officedocument.presentationml.presentation, .ppt, .pptx" +
            ",text/plain, .txt, application/pdf")
        .SelectButtonText("Alegeti fisier").UploadButtonText("Incarcati fisier")
        .Multiple(true)
        .UploadMode(FileUploadMode.UseForm)
        .UploadUrl(Url.Action("SendFiles","Upload")))

        @(Html.DevExtreme().Button()
        .ID("button")
        .Text("Incarca documente")
        .Type(ButtonType.Success)
        .UseSubmitBehavior(true)
    )
    </div>
</form>
